{% extends "base.html" %}
{% block content %}
<p>
Hey, its the Website Wizard.

<picture>

I'm a college freshman who took an interest in coding during
high school. I had mixed feelings about the topic until I took my
senior year software development class, and there I learned all about
how to build the best websites. I ended up creating two web
applications with some friends from the school, and from then on fell
in love with the creation of websites.

Skills - (Is this a good idea or not?)
Html
Css
Python

Click <a href="/upwork" >here</a> to go to my Upwork Profile.

</p>
{% endblock %}