{% extends "base.html" %}
{% block content %}
<br>
<br>
<body bgcolor="#d0d0d0">
<div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
	      <h3 class="information-head"></h3>
	      <br>
                <p>
                   <img src="/static/me.jpg" alt="Smiley face"
        width="60%" height="60%">
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Hey, its the Website Wizard.</h3>
	      <p style="color:black;">
	      I'm a college freshman who took an interest in coding during
high school. I had mixed feelings about the topic until I took my
senior year software development class, and there I learned all about
how to build the best websites. I ended up creating two web
applications with some friends from the school, and from then on fell
	      in love with the creation of websites.
	      <br>
	      _______________________________________________
<br>
Skills - (Is this a good idea or not?)<br>
Html<br>
Css<br>
Python<br>

Click <a href="/upwork" >here</a> to go to my Upwork Profile.
                </p>
            </div>
        </div>
    </div> <!-- end information -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
<!--
<p>
Hey, its the Website Wizard.

<picture>

I'm a college freshman who took an interest in coding during
high school. I had mixed feelings about the topic until I took my
senior year software development class, and there I learned all about
how to build the best websites. I ended up creating two web
applications with some friends from the school, and from then on fell
in love with the creation of websites.

Skills - (Is this a good idea or not?)
Html
Css
Python

Click <a href="/upwork" >here</a> to go to my Upwork Profile.
--!>
</p>
{% endblock %}