{% extends "base.html" %}
{% block content %}

<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">The Website Wizard
      <img src="static/wizard.png" alt="ezpzpls" style="width:64px;height:64px;">
            
</h1>
        <p class="splash-subhead">
            Creating Simply Efficient Websites. 
        </p>
        <p>
            <a href="/signup" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Websites using only...</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Flask Module
                </h3>
                <p>
                    A Small micromodule that allows for the
                    development of websites.\flask site here\
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    HTML5
                </h3>
                <p>
                    Simple HTML5. No more, no less. 
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Pure CSS
                </h3>
                <p>
                    The smallest and best CSS modules
                    available.\purecss site\
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Gunicorn
                </h3>
                <p>
                    A small server module used to simply and easily
                    run the server. 
                </p>
            </div>
        </div>
    </div>

    
    <div class="content">
        <h2 class="content-head is-center">Don't make it hard on
        yourself. Use the Website Wizard.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" name="name" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" name="email" placeholder="Your Email">


                        <button type="submit" value="submit"
                    formmethod="post" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p class="thick">
	      The Website Wizard <br>
	      4400 Vestal Pkwy E
	      <br>
	      Phone : 917-885-7604
	      <br>
	      Email : victorgaitour@gmail.com
	      
                
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>






</body>
</html>
{% endblock %}