{% extends "base.html" %}
{% block content %}

<div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">The Website Wizard
      <img src="static/star18.png" alt="ezpzpls" style="width:64px;height:64px;">
            
</h1>
        <p class="splash-subhead">
            Simple and Efficient Websites
        </p>
        <p>
            <a href="/services" class="pure-button
        pure-button-primary">Get Started Now</a>
        </p>
    </div>
</div>

</html>
{% endblock %}