{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/layouts/pricing.css">
<br>
<br>
<br>
<br>
<body bgcolor="#d0d0d0">
<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
	    <div class="pricing-table-header">
	      <h2> Small Jobs </h2>
	      <br>
                    <span class="pricing-table-price">
                        $25 <span>One Time</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Any single page websites/ small web
                    applications that need to be done quickly.</li>
                    <li>Covered by the Website Wizard Guarantee!</li>
		    <li>
P</li>
                    <li>Premium customer support</li>
                </ul>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
		  <h2> Website From Scratch </h2>
		  <br>
                    <span class="pricing-table-price">
		  $75 <span>One Time</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>When you need a website developed from
		  scratch.</li>
		  <li>Covered by the Website Wizard Guarantee!</li>
		    <li>
P</li>
<li>Premium customer support</li>
<button class="button-choose pure-button">GET STARTED NOW</button>
                </ul>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
		  <h2>Testing / Bug fixes </h2>
		  <br>

                    <span class="pricing-table-price">
                        $15 <span>One Time</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
		  <li>When you need troubleshooting with problems</li>
		  <li>Covered by the Website Wizard Guarantee!</li>
		    <li>
P</li>
                    <li>Premium Customer Support</li>
                </ul>
            </div>
        </div>
	</div> <!-- end pricing-tables -->
    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">GET STARTED NOW!</h3>
                <p>
                   Anyone who purchases before NOVEMBER 14 gets 3
        months of general application management and consulting for
        FREE!
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">What exactly is the Website Wizard Guarantee?</h3>
	      <p>
	      Well, if I ever give you a product that does not meet the agreed upon
	      standards, is not finished, has any bugs, or simply does not work you
	      do not have to pay me a penny! For example, if you give me a task to
	      complete and it is not completed to your liking, you don't pay me and
	      you take the work I did as well. 
                </p>
            </div>
        </div>
    </div> <!-- end information -->
    </div>
    </body>
What I offer:

Small jobs / Website modification:

Any single page websites/ small web applications that need to be done
quickly.
Cost : $24.99
Covered by the Website Wizard Guarantee!
Purchase before 11/14 and get 1 month of bug fixes/ application
management and consulting for FREE. 

Full Website Development

When you need a website developed from scratch.
Cost : $74.99
Covered by the Website Wizard Gurantee!
Purchase before 11/14 and get 3 months of bug fixes/ application
management and consulting for FREE.

Testing / Bug fixes:
When you need someone to troubleshoot what is going wrong with your
website.
Cost : $14.99
Covered by the Website Wizard Guarantee!


What exactly is the Website Wizard Guarantee?
Well, if I ever give you a product that does not meet the agreed upon
standards, is not finished, has any bugs, or simply does not work you
do not have to pay me a penny! For example, if you give me a task to
complete and it is not completed to your liking, you don't pay me and
you take the work I did as well. 


{% endblock %}