{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/layouts/pricing.css">
<br>
<br>
<body bgcolor="#d0d0d0">

<div class="content">
        <h1 class="content-head is-center">Make it easy on
  yourself. Use the Website Wizard.</h1>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked" method="POST">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" name="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" name="email" type="email"
	      placeholder="Your Email">

	      <label for="message">Your Message</label>
	      <textarea id="message" name="message" type="text" placeholder="Message" style=width:500px; height:250px;cols=40; 
       rows=5;"></textarea>
<br>
                       
                        <button type="submit" class="pure-button">Send
                    Email</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Me</h4>
                <p>
	      4400 Vestal Pkwy E, Binghamton, NY 13902<br>
	      <a href="mailto:victorgaitour@gmail.com">victorgaitour@gmail.com</a><br>
	      <a href="tel:1-917-885-7604">1-917-885-7604</a>
	      
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
	    </div>
	    <link rel="stylesheet" href="/static/standard.css">
	     <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">--!>
	    {% if notice == "Sending Failed. Please try again." %}
 <div class="alert alert-danger " role="alert" style="text-align:center">
   {{notice}}
 </div>
 {% endif %}
{% if notice == "SUCCESS! I'll get back to you soon."%}
 <div class="alert alert-success " role="alert" style="text-align:center">
   {{notice}}
 </div>
 {% endif %} 
<br>
</body>
{% endblock %}