{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/layouts/pricing.css">
<br>
<br>
<body bgcolor="#d0d0d0">

<div class="content">
        <h1 class="content-head is-center">Make it easy on
  yourself. Use the Website Wizard.</h1>

  
        <div class="pure-g" >
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5"
	      style="position:relative; left: 140px;">
	      <form class="pure-form pure-form-stacked" method="POST">
	      
	      <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" name="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" name="email" type="email"
	      placeholder="Your Email">

	      <label for="message">Your Message</label>
	      <textarea class="pure-form pure-form-stacked"
	      id="message" name="message" type="text"
	      placeholder="Message" style="width:80%;height:150px;"></textarea>
<br>
                       
                        <button type="submit" class="pure-button">Send
                    Email</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5" style="position:relative;left: 160px; max-width: 400px;">
                <h4>Contact Me</h4>
                <p>
	      4400 Vestal Pkwy E, Binghamton, NY 13902<br>
	      <a href="mailto:victorgaitour@gmail.com">victorgaitour@gmail.com</a><br>
	      <a href="tel:1-917-885-7604">1-917-885-7604</a>
	      
                </p>

                <h4>More Information</h4>
                <p>
	      Contacting me is easy. You can call or text me, you can
                either fill out the form to the side or email me
                directly, however you like. I will do my absolute best
                to get back to you as soon as I can. 
                </p>
            </div>
	    </div>
	    <link rel="stylesheet" href="/static/standard.css">
	     <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">--!>
	    {% if notice == "Sending Failed. Please try again." %}
 <div class="alert alert-danger " role="alert" style="text-align:center">
   {{notice}}
 </div>
 {% endif %}
{% if notice == "SUCCESS! I'll get back to you soon."%}
 <div class="alert alert-success " role="alert" style="text-align:center">
   {{notice}}
 </div>
 {% endif %} 
<br>
</body>
{% endblock %}