<!DOCTYPE html> 
<html>

<head>
  <title>Vic's Pro-Driving School</title>
  <meta name="description" content="Vic's Pro-Driving School" />
  <meta name="keywords" content="Vic's Pro-Driving School" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="/static/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">		

    <header>
	  <div id="strapline">
	  <div id="welcome_slogan">
	      <h3><span> </span></h3>
	    </div><!--close welcome_slogan-->
	    </div><!--close strapline-->
	    <br>
	    <br>
	    <br>
	    <br>
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
	    <li><a href="#">Contact Us</a></li>
	    <li><a href="#">FAQ</a></li>
	    <li><a href="#">Testimonials</a></li>
          </ul>
        </div><!--close menubar-->	
      </nav>
	</header>
    
    <div id="slideshow_container">  
	  <div class="slideshow">
	    <ul class="slideshow">
          <li class="show"><img width="940" height="250"
	  src="/static/roadtothecity.jpg" alt="&quot;Wonderful Service&quot;" /></li>
          <li><img width="940" height="250" src="/static/home_1.jpg"
	  alt="&quot;Great Design&quot;" /></li>
        </ul> 
	  </div><!--close slideshow-->  	
	</div><!--close slideshow_container-->   
	
	<div id="site_content">		
	  
	  <div class="sidebar_container">       
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>New Website</h2>
            <p>Welcome to our new website. Please have a look around, any feedback is much appreciated.</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Latest Update</h2>
            <h3>March 2015</h3>
            <p>Here is an update for March 2015 (example)</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>February 2015</h3>
            <p>Here is an earlier update from Feb 2015 (example)</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  		
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Contact</h2>
	    <p>Phone: 607-743-0436 </p>
	    <p>Office: 607-875-4200
            <p>Email: <a href="mailto:">email@email.com</a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->	
	   
	  <div id="content">
        <div class="content_item">
	  <h1>Mission Statement</h1>
	  <p>
	  As a lifelong area resident, Graduate of SUNY at Binghamton
        and BBC, including 25 years of public service and a NYS
        Licensed Driving Instructor, our main goal at Vic's
        Pro-Driving Shool is
	  </p>
	  <p>
	  To instruct our students to know more than what is needed to
        pass a road test, and most importantly, to become a very safe,
        skilled and attentive driver in all situations. 
	  </p>
	  Vic's Pro-Driving School serves the Greater Binghamton Area
        as well as Broome, Tioga and Chenango Counties.
	  <p>
	  Our Driver training vehicles are late model Honda Accords,
        dual control equipped and very well maintained for your
	  pleasure and safety.
	  </p>
	  <p>
	  Learning to drive with Vic's Pro-Driving School will give
        you the freedom you need to succeed. 
	  </p>
		  <div class="content_container">
		    <p>Victor A. Prokop, Owner <br>
		    NYS Licensed Driving Instructor<br>
		    404 Jackson Hill Road<br>
		    Chenango Forks, NY 13746</p>
		  	<div class="button_small">
		      <a href="#">Contact Us</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
	    <p>Some More information
	    <br><br><br><br></p>          
		  	<div class="button_small">
		      <a href="#">Read more</a>
		    </div><!--close button_small-->		  
		  </div><!--close content_container-->	
		  
		</div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content-->  	

    <footer>
	  <a href="#">Home</a> | <a href="#">Services</a> | <a
	  href="#">Contact Us</a> | <a href="#">FAQ</a> | <a href="Testimonials">Testimonials</a><br/><br/>
    </footer>
	
  </div><!--close main-->
  
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/image_slide.js"></script>
  
</body>
</html>
